<table class="bordered highlight centered">
  <%- if @united.present? %>
    <%= render 'united' %>
  <%- elsif @aeroplan.present? %>
    <%= render 'aeroplan' %>
  <%- else %>
    <h5 class="valign center-align">Data not loaded. Please try again.</h5>
  <% end %>
</table>
