<div class="row">
  <div class="col offset-s4">
    <h2 class='header'>Octopus</h2>
  </div>
</div>

<%= render 'form' %>
<div class="row">
  <div class="col offset-s5">
    <div class="spinner preloader-wrapper active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col offset-s1">
    <div id="answare"></div>
  </div>
</div>